.app {
	margin: 0;
  text-align: center;
}
.app__header {
	background-color: rgba(51, 43, 43, 0.466);
}

.header__title {
	font-size: 42px;
	margin: 0 10px 20px 10px;
	padding: 20px 0;
	color: white;
	text-transform: capitalize;
}

.app__main {
	height: 80vh;
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none;
}

.text__message {
	background-color: rgba(54, 68, 68, 0.336);
}

.app__footer {
	position: bottom;
}